@font-face {
    font-family: "Roboto400";
    src: url('../../../public/fonts/Roboto400.ttf');
}
.BtnWrapper{
    position: relative;
    top: 507px;
    right: 1450px;
    width: 193px;
    height: 193px;
    border-radius: 50%;
}

.Btn{
    width: 193px;
    height: 193px;
    border-radius: 50%;
    background-color: #FFFDF5;
    border:0.5px solid #514A7E;
}

.Btn:hover{
    background-color: #514A7E;
    border:1px solid #514A7E;
}

.BtnLabel{
    display: inline-block;
    color: #514A7E;
    margin-right: 37px;
    font-family: "Roboto400", sans-serif;
    font-size: 20px;
}

.Btn:hover > label {
    color: #FFFDF5;
}


/* .Btn img:hover{
    background-color: transparent;

} */

.Btn:hover > svg {
    fill:#514A7E;
    stroke: #fffdf5;

}