@font-face {
    font-family: "Roboto300";
    src: url('../../../public/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Bad Script";
    src: url('../../../public/fonts/BadScript-Regular.ttf');
}

@font-face {
    font-family: "Roboto400";
    src: url('../../../public/fonts/Roboto400.ttf');
}
@font-face {
    font-family: "Roboto100";
    src: url('../../../public/fonts/Roboto-Thin.ttf');
}
.OutsideBox{
    display: flex;
    width: 971px;
    height: 411.239px;
    flex-shrink: 0;
    background: #514A7E;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
    position: absolute;
    top: 4090px;
    margin-bottom: 150px;
}

.InsideBox{
    width: 714px;
    height: 332.576px;
    flex-shrink: 0;
    background: #FFFDF5;
    position: absolute;
    top: 39.83px;
    left: 135px;
}

.InvitationLabel{
    display: flex;
    width: 611px;
    height: 33.855px;
    flex-shrink: 0;
    color: #121212;
    font-family: "Roboto400";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 23.6px */
    margin-top: 34.85px;
    margin-left: 51px;
}

.Inputs{
    display: flex;
    flex-direction: column;
    margin-top: 39.83px;
    margin-left: 51px;
}

.Name{
    width: 228px;
    height: 15px;
    border:none;
    border-bottom: 0.25px solid #7D7D7D;
    margin-bottom: 25px;
}

.Name:focus {
    outline: none;
}

.Name::placeholder{
    width: 54px;
    height: 8.962px;
    color: #7D7D7D;
    text-align: left;
    font-family: "Roboto100";
    font-size: 11px;
    font-style: normal;
    font-weight: 100;
    line-height: 118%; /* 14.16px */
}

.PhoneNumber{
    width: 228px;
    height: 15px;
    border:none;
    border-bottom: 0.25px solid #7D7D7D;
    margin-bottom: 25px;
}

.PhoneNumber:focus {
    outline: none;
}

.PhoneNumber::placeholder{
    width: 92px;
    height: 8.962px;
    color: #7D7D7D;
    text-align: left;
    font-family: "Roboto100";
    font-size: 11px;
    font-style: normal;
    font-weight: 100;
    line-height: 118%; /* 14.16px */
}

.Email{
    width: 228px;
    height: 15px;
    border:none;
    border-bottom: 0.25px solid #7D7D7D;
    margin-bottom: 25px;
}

.Email:focus {
    outline: none;
}

.Email::placeholder{
    width: 113px;
    height: 8.962px;
    color: #7D7D7D;
    text-align: left;
    font-family: "Roboto100";
    font-size: 11px;
    font-style: normal;
    font-weight: 100;
    line-height: 118%; /* 14.16px */
}

.Send{
    width: 148px;
    height: 36.842px;
    flex-shrink: 0;
    border: 0.5px solid #514A7E;
    background: #514A7E;
    margin-top: 20px;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
}

.Send label{
    width: 76px;
    height: 8.962px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFFDF5;
    font-family: "Roboto400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Send img{
    color: #FFFDF5;
    margin-left: 9px;
    margin-bottom: 2px;
}