.ContactInfo{
    padding-top: 81.89px;
    padding-left: 97px;
    width: 250px;
    height: 116.5px;
}
.ContactInfoLabel{
    font-family: "Roboto400", sans-serif;
    font-size: 20px;
    color: #FFFDF5;
}

.ContactInfoText{
    font-family: "Roboto400", sans-serif;
    font-size: 12px;
    color: #FFFDF5;
}