.Body{
    width: 1440px;
    height: 4420px;
    overflow: hidden;
}
.Circle{
    position: absolute;
    top: 842px;
    left: 1230px;
    width: 214.5px;
    height: 429px;
    border: 2px solid #514A7E;
    border-radius: 100% 0% 0 100% / 50%;
    overflow: hidden;
    float: left;
}

.Circle2{
    position: absolute;
    top: 2600px;
    left: 1294px;
    width: 150px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 100% 0% 0 100% / 50%;
    border: 1px solid #514A7E;
}

.Circle3{
    width: 100px;
    height: 200px;
    border-radius: 100% 0% 0 100% / 50%;
    flex-shrink: 0;
    background-color: #514A7E;
    stroke-width: 1px;
    position: absolute;
    top: 4149px;
    left: 1347px;
}

.Circle4{
    width: 190px;
    height: 380px;
    flex-shrink: 0;
    border-radius: 100% 0% 0 100% / 50%;
    border: 1px solid #514A7E;
    position: absolute;
    top: 4260px;
    left: 1254px;
}