@font-face {
    font-family: "Bad Script";
    src: url('../../../public/fonts/BadScript-Regular.ttf');
}

@font-face {
    font-family: "Robobto300";
    src: url('../../../public/fonts/Roboto-Light.ttf');
}
.Welcome{
    width: 1444px;
    height: 716px;
    display: flex;
}

.Img1{
    vertical-align: top;
    margin-left: 135px;
    margin-right: 380px;
    width: 278px;
    height: 242px;
    flex-shrink: 0;
}

.Img2{
    vertical-align: top;
    width: 476px;
    height: 416px;
    flex-shrink: 0;
}

.Welcoming{
    position: relative;
    top: 280px;
    right: 1122px;
    width: 537px;
    height: 114px;
    font-family: "Roboto300", sans-serif;
    font-size: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.Cocteil{
    font-family: "Bad Script";
    font-size: 60px;
    color: #514A7E;
    line-height: 160%;
}

.SmallText{
    position: relative;
    top: 500px;
    right: 1660px;
    height: 138px;
}

.SmallText p{
    font-family: "Roboto300", sans-serif;
    font-size: 16px;
    color: #7D7D7D;
    width: 249px;
    margin: 0;

}