@font-face {
    font-family: "Robobto300";
    src: url('../../../public/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Bad Script";
    src: url('../../../public/fonts/BadScript-Regular.ttf');
}

@font-face {
    font-family: "Roboto400";
    src: url('../../../public/fonts/Roboto400.ttf');
}

.Promotion{
    width: 1352px;
    height: 535px;
    display: block;
    margin-top: 150px;
    margin-left: 135px;
}

.ProductionBox{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    /* overflow-x: scroll; */
}

.Product{
    width: 278px;
    height: 413px;
    display: block;
}

.ProductImg{
    width: 278px;
    height: 319px;
    align-items: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.Detailed label{
    width: 76px;
    height: 9px;
}

.Detailed img{
    width: 25px;
    height: auto;
    margin-left: 9px;
}

.Detailed{
    width: 148px;
    height: 37px;
    margin-top: 13px;
    border: 1px solid #121212;
    background-color: #FFFDF5;
}

.LabelDiv1{
    display: flex;
    width: 1440px;
    height: 62px;
}

.Text1{
    width: 270px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Roboto300", sans-serif;
    font-size: 40px;
}

.Text2{
    width: 103px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Bad Script", sans-serif;
    font-size: 40px;
    color: #514A7E;
    margin-top: 15px;
}

.LabelDiv2{
    margin-top: 5px;
}

.PromPrice{
    width: 49px;
    height: 9px;
    font-family: "Roboto400", sans-serif;
    font-size: 14px;
    color: #121212;

}

.RegPrice{
    width: 62px;
    height: 9px;
    padding-left: 12px;
    font-family: "Roboto400", sans-serif;
    font-size: 14px;
    text-decoration: line-through;
    color: #7D7D7D;
}

.ProductName{
    width: 148px;
    height: 9px;
    font-family: "Roboto400", sans-serif;
    font-size: 12px;
    color:#7D7D7D;
}

.Heart{
    /* position: absolute; */
    /* top: 1700px; */
    margin-left: 77px;
}

.Bag{
    /* position: absolute; */
    /* top: 2050px; */
    margin-left: 15px;
}

.Revs{
    /* position: absolute; */
    /* top: 2105px; */
    margin-left: 75px;
}

.Scroller{
    position: absolute;
    top: 1985px;
    left: 1363px;
    width: 85px;
    height: 47px;
    background-color: white;
    border:none;
}

.ScrollerImg{
    width: 46px;
    height: auto;
}