@font-face {
    font-family: "Robobto300";
    src: url('../../../public/fonts/Roboto-Light.ttf');
}

.QAnswers{
    margin-top: 200px;
    width: 1029px;
    height: 318px;
    margin-left: 135px;
}

.Question{
    width: 440px;
    height: 40px;
    font-family: "Roboto300", sans-serif;
    font-size: 40px;
    color: #121212;
    margin-bottom: 94px;
}

.FirstLine{
    display: flex;
    margin-bottom: 95px;
    justify-content: space-between;
    text-align: left;
}

.SecondLine{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.FirstLine div{
    display: flex;
    width: 220px;
    height: 26px;
    font-family: "Roboto300", sans-serif;
    font-size: 14px;
    color: #7D7D7D;
    margin: 100;
}

.SecondLine div{
    display: flex;
    width: 220px;
    height: 26px;
    font-family: "Roboto300", sans-serif;
    font-size: 14px;
    color: #7D7D7D;
}

 .Ellipse1{
    position: relative;
    width: 35px;
    height: 35px;
    top: 15px;
    right: 25px;
}

.Ellipse2{
    position: relative;
    width: 54px;
    height: 54px;
    bottom: 22px;
    left: 0px;
}

.Ellipse3{
    position: relative;
    width: 54px;
    height: 54px;
    top: 15px;
    right: 15px;
}

.Ellipse4{
    position: relative;
    width: 35px;
    height: 35px;
    bottom: 5px;

}

.Up{
    position: relative;
    top: 0px;
    width: 72px;
    height: 72px;
    background-color: #514A7E;
    border-radius: 50%;
    border: 1px solid #514A7E;
}

.Chat{
    position: relative;
    top: 0px;
    left: 1100px;
    width: 72px;
    height: 72px;
    background-color: #514A7E;
    border-radius: 50%;
    border: 1px solid #514A7E;
}
/*.SecondLineFirst{
    width: 175px;
    height: 26px;
}

.SecondLineSecond{
    width: 175px;
    height: 26px;
    margin-left: 380px;
}*/

